*{
    margin: 0;
    padding: 0;
}

body{
    font: normal 25px "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: rgb(71, 73, 75);
}

h1{
    text-align: center;
}

#container{
    visibility: hidden;
    width: 100%;
    top: 40px;
    position: absolute;
}

#wrapper{
    margin: 4% 30%;
}

.box{
    border: 1px solid black;
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 3px;
    min-height: 41px;
    min-width: 41px;
    padding: 12px 6px 1px;
    text-align: center;
}

.glow{
    background-color: rgba(0, 196, 86, 1);
}

#mocha{
    position: absolute;
    top: 78px;
    right: -4%;
}

#buttons {
    display: block;
    float: left;
    margin-bottom: 60px;
    margin-top: 30px;
}

#buttons input {
    border-radius: 3px;
    height: 37px;
    outline: none;
    width: 125px;
}

#reset {
    background: transparent;
    border: 1px solid rgb(71, 73, 75);;
}

#reset:hover {
    background-color: rgb(71, 73, 75);;
    border-color: rgb(98, 100, 102);
    color: rgb(255, 255, 255);
}

#stepClick {
    background-color: rgba(0, 196, 86, 0.8);
    border: none;
    color: rgb(255, 255, 255);
    margin-right: 18px;
}

#stepClick:hover {
    background-color: rgba(0, 196, 86, 1);
}